
/* CSS Document */

	.btnOut{
		border:1px outset;
		cursor:pointer;
	}
	.btnIn{
		border:1px inset;
		cursor:pointer;
	}

.rndSkyBluebox {
	background: #E3ECFF;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000033;
}
.rndSkyBlueTop {
	background: url('../hisglobal/images/treeMenu-Rounded-skyBlue-RT.jpg') no-repeat right top;
}
.rndSkyBlueBottom {
	background: url('../hisglobal/images/treeMenu-Rounded-skyBlue-RB.jpg') no-repeat right top;
}

.rndPeachbox {
	background: #FFEAD5;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000033;
}
.rndPeachTop {
	background: url('../hisglobal/images/treeMenu-Rounded-peach-RT.jpg') no-repeat right top;
}
.rndPeachBottom {
	background: url('../hisglobal/images/treeMenu-Rounded-peach-RB.jpg') no-repeat right top;
}

.rndIvorybox {
	background: #FDF8E8;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000033;
}
.rndIvoryTop {
	background: url('../hisglobal/images/treeMenu-Rounded-ivory-RT.jpg') no-repeat right top;
}
.rndIvoryBottom {
	background: url('../hisglobal/images/treeMenu-Rounded-ivory-RB.jpg') no-repeat right top;
}


.rndGreybox {
	background: #EBEBEB;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000033;
}
.rndGreyTop {
	background: url('../hisglobal/images/treeMenu-Rounded-grey-RT.gif') no-repeat right top;
}
.rndGreyBottom {
	background: url('../hisglobal/images/treeMenu-Rounded-grey-RB.gif') no-repeat right top;
}

.rndGreybox p {
	margin: 0 8px;
}


.rndDrkGreybox {
	background: #D1D1D1;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000033;
}
.rndDrkGreyTop {
	background: url('../hisglobal/images/treeMenu-Rounded-drkGrey-RT.gif') no-repeat right top;
}
.rndDrkGreyBottom {
	background: url('../hisglobal/images/treeMenu-Rounded-drkGrey-RB.gif') no-repeat right top;
}

.rndDrkGreybox p {
	margin: 0 8px;
}


.rndIvorybox p {
	margin: 0 8px;
}

.rndPeachbox p {
	margin: 0 8px;
}

.rndSkyBluebox p {
	margin: 0 8px;
}

.tblTitle{
	background-color:#FFEAD5;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	border-style:outset;
	border:1px;
}

.tblRow{
	padding:2px 0px 2px 0px;
	border-bottom: 1px solid;
}

