.comboList
{
	font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	text-decoration: none;
	height: 20px;
}

.tdDynamicDeskButtonNormal
{
	width: 100%;
	border-width: 2px;
	text-align: center;
	padding: 3px;
	cursor: pointer;
	border-style: outset;

	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;	
	font-weight: bold;
}

.tdDynamicDeskButtonFocus
{
	width: 100%;
	border-width: 2px;
	text-align: center;
	padding: 3px;
	cursor: pointer;
	border-style: groove;

	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;	
	font-weight: bold;
}

.tdDynamicDeskButtonPressed
{
	width: 100%;
	border-width: 2px;
	text-align: center;
	padding: 3px;
	cursor: pointer;
	/*border-style: inset;*/

	color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.tdDynamicDeskButtonClicked
{
	width: 100%;
	border-width: 2px;
	text-align: center;
	padding: 3px;
	cursor: pointer;
	border-style: inset;

	color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;	
	font-weight: bold;
}
