TH {
	FONT-SIZE: 11px; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'
}
TR {
	FONT-SIZE: 11px; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'
}
TD {
	FONT-SIZE: 11px; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'
}
P {
	FONT-SIZE: 11px; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'
}
SPAN {
	FONT-SIZE: 11px; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'
}
DIV {
	FONT-SIZE: 11px; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif' 
}
INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'
}
SELECT {
	FONT-SIZE: 11px; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'
}
TEXTAREA {
	FONT-SIZE: 11px; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'
}
FORM {
	FONT-SIZE: 11px; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'
}
UL {
	FONT-SIZE: 11px; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'
}
OL {
	FONT-SIZE: 11px; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'
}
DL {
	FONT-SIZE: 11px; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'
}
H5 {
	FONT-SIZE: 11px; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'
}
H6 {
	FONT-SIZE: 11px; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'
}
B {
	FONT-SIZE: 12px; FONT-FAMILY: 'Verdana', Arial, Helvetica, 'sans-serif'
}
STRONG {
	FONT-SIZE: 11px; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'
}
I {
	FONT-SIZE: 11px; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'
}
U {
	FONT-SIZE: 11px; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'
}
LI {
	FONT-SIZE: 11px; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'
}
BLOCKQUOTE {
	FONT-SIZE: 11px; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'
}
BODY {
	FONT-SIZE: 11px; BACKGROUND: #ffffff; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'
}
BLOCKQUOTE {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 16px; PADDING-TOP: 16px
}
UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 16px; PADDING-TOP: 16px
}
OL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
FORM {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 16px; PADDING-TOP: 0px
}
A {
	COLOR: #000099; TEXT-DECORATION: none; outline: none
}
A:hover {
	COLOR: blue; TEXT-DECORATION: underline
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 28px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #707090; PADDING-TOP: 0px; FONT-FAMILY: 'Times New Roman', Times, serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #707090; FONT-FAMILY: 'Times New Roman', Times, serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #707090; FONT-FAMILY: Geneva, Verdana, 'sans-serif'
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #707090; FONT-FAMILY: Geneva, Verdana, 'sans-serif'
}
TT {
	FONT-SIZE: 11px
}
SUP {
	FONT-SIZE: 11px; COLOR: #808080; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'
}
.TITLE {
	FONT-WEIGHT: normal; FONT-SIZE: 36px; COLOR: #000060; FONT-FAMILY: 'Times New Roman', Times, serif
}
.SUBTITLE {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #707090; FONT-FAMILY: Geneva, Verdana, 'sans-serif'
}
.SUBTEXT {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #707070; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'
}
.HELPINDEX {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #707090; FONT-FAMILY: 'Times New Roman', Times, serif
}
.HELPTITLE {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #707090; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'
}
.MENULINK {
	FONT-WEIGHT: normal; BACKGROUND: #9090b0; COLOR: #ffffff; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'; TEXT-DECORATION: none
}
A.MENULINK:hover {
	COLOR: #00ff00; TEXT-DECORATION: none
}
.MENUBAR {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #9090b0; FONT-FAMILY: Courier
}
.DIVIDER {
	BACKGROUND: #707090
}
.INTERSECTION {
	BACKGROUND: #ffffff
}
.PANELBACKGROUND {
	BACKGROUND: #707090
}
.WHITE {
	BACKGROUND: #ffffff
}
.GRAY {
	BACKGROUND: #e4e4e4
}
.REDLINK {
	COLOR: #c00000
}
A.REDLINK:hover {
	COLOR: #ff0000
}
.GREENLINK {
	COLOR: #006600
}
A.GREENLINK:hover {
	COLOR: #00a000
}
.WHITELINK {
	COLOR: #ffffff
}
A.WHITELINK:hover {
	COLOR: #f0f0f0
}
.GRAYLINK {
	COLOR: #808080
}
A.GRAYLINK:hover {
	COLOR: #606060
}
.REDBACKGROUND {
	BACKGROUND: #ff0000
}
.LIGHTGRAY {
	COLOR: #aaaaaa
}
.LABEL {
	BACKGROUND: #F5F3F3; LINE-HEIGHT: 16px; FONT-FAMILY: Geneva, Verdana, 'sans-serif'; HEIGHT: 20px
}
.INPUT {
	BACKGROUND: #f0f0f0
}
.VALUE {
	BACKGROUND: #f0f0f0; LINE-HEIGHT: 16px; HEIGHT: 20px
}
A.VALUE {
	BACKGROUND: #f0f0f0; HEIGHT: 16px; TEXT-DECORATION: none
}
A.VALUE:hover {
	BACKGROUND: #e2e2f0; HEIGHT: 16px; TEXT-DECORATION: none
}
.PANELHEADER {
	FONT-WEIGHT: bold; BACKGROUND: #9090b0; COLOR: #ffffff; FONT-FAMILY: Geneva, Verdana, 'sans-serif'
}
.HEADER {
	BORDER-RIGHT: #b0b0ff 1px outset; BORDER-TOP: #b0b0ff 1px outset; BACKGROUND: #9090b0; BORDER-LEFT: #b0b0ff 1px outset; COLOR: #ffffff; BORDER-BOTTOM: #b0b0ff 1px outset; FONT-FAMILY: Verdana;HEIGHT: 20px;FONT-WEIGHT: bold;font-size:12;
}
.INFOSECTION {
	FONT-WEIGHT: normal; COLOR: #404070
}
.INFOTEXT {
	FONT-FAMILY: Geneva, Verdana, 'sans-serif'
}
.ACTION {
	BACKGROUND: #e0e0e0; FONT-FAMILY: Geneva, Verdana, 'sans-serif'
}
.SELECTED {
	BACKGROUND: #ffffff; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
A.SELECTED:hover {
	BACKGROUND: #f0f0ff; TEXT-DECORATION: none
}
.PRESELECTED {
	BACKGROUND: #e0e0e0; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
A.PRESELECTED:hover {
	BACKGROUND: #c0c0d0; TEXT-DECORATION: none
}
.PRESET {
	BACKGROUND: #e0e0e0; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
A.PRESET:hover {
	BACKGROUND: #f8f8ff; TEXT-DECORATION: none
}
.SIDEBAR {
	FONT-SIZE: 11px; BACKGROUND: #f4f5f9; COLOR: #707090; FONT-FAMILY: Geneva, Verdana, 'sans-serif'
}
.NAVIGATIONBARITEM {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND: #9090b0; COLOR: #00ff00; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'
}
A.HIGHLIGHT:hover {
	BACKGROUND: #c4c5ed
}
.GRIDBACKGROUND {
	BACKGROUND: #ffffff
}
.PAGEHEAD {
	BACKGROUND: #ffffff
}
.HEADBAR {
	
}
.ARROW {
	
}
.ERROR {
	BORDER-RIGHT: red 1px solid; BORDER-TOP: red 1px solid; BORDER-LEFT: red 1px solid; BORDER-BOTTOM: red 1px solid
}
.WIDETEXTINPUT {
	FONT-SIZE: 11px; WIDTH: 99%; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'
}
.ACTIVEIMAGE {
	DISPLAY: none; CURSOR: hand
}
.SUBMITBUTTON {
	FONT-SIZE: 11px; BACKGROUND: #e0e0e0; WIDTH: 120px; CURSOR: hand; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'; HEIGHT: 22px
}
.WIDESUBMITBUTTON {
	FONT-SIZE: 11px; BACKGROUND: #e0e0e0; CURSOR: hand; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'; HEIGHT: 22px
}
.RESETBUTTON {
	FONT-SIZE: 11px; BACKGROUND: #e0e0e0; WIDTH: 120px; CURSOR: hand; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'; HEIGHT: 22px
}
.INLINESUBMITBUTTON {
	FONT-SIZE: 11px; BACKGROUND: #e0e0e0; WIDTH: 100%; CURSOR: hand; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'; HEIGHT: 22px
}
.INLINERESETBUTTON {
	FONT-SIZE: 11px; BACKGROUND: #e0e0e0; WIDTH: 100%; CURSOR: hand; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'; HEIGHT: 22px
}
.HIDDENBUTTON {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: 0px; CURSOR: hand; BORDER-BOTTOM: 0px; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'; HEIGHT: 18px
}
.PSEUDOBUTTON {
	BORDER-RIGHT: #ffffff 2px outset; PADDING-RIGHT: 10px; BORDER-TOP: #ffffff 2px outset; PADDING-LEFT: 10px; FONT-SIZE: 11px; BACKGROUND: #e0e0e0; PADDING-BOTTOM: 3px; BORDER-LEFT: #ffffff 2px outset; WIDTH: 120px; CURSOR: hand; COLOR: black; PADDING-TOP: 3px; BORDER-BOTTOM: #ffffff 2px outset; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'; TEXT-ALIGN: center; TEXT-DECORATION: none; outline: none; whitespace: nowrap
}
.WIDEPSEUDOBUTTON {
	BORDER-RIGHT: #ffffff 2px outset; PADDING-RIGHT: 10px; BORDER-TOP: #ffffff 2px outset; PADDING-LEFT: 10px; FONT-SIZE: 11px; BACKGROUND: #e0e0e0; PADDING-BOTTOM: 3px; BORDER-LEFT: #ffffff 2px outset; CURSOR: hand; COLOR: black; PADDING-TOP: 3px; BORDER-BOTTOM: #ffffff 2px outset; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'; TEXT-ALIGN: center; TEXT-DECORATION: none; outline: none; whitespace: nowrap
}
.INLINEPSEUDOBUTTON {
	BORDER-RIGHT: #ffffff 2px outset; PADDING-RIGHT: 0px; BORDER-TOP: #ffffff 2px outset; PADDING-LEFT: 0px; FONT-SIZE: 11px; BACKGROUND: #e0e0e0; PADDING-BOTTOM: 3px; MARGIN: 1px 0px; BORDER-LEFT: #ffffff 2px outset; WIDTH: 100px; CURSOR: hand; COLOR: black; PADDING-TOP: 3px; BORDER-BOTTOM: #ffffff 2px outset; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'; TEXT-ALIGN: center; TEXT-DECORATION: none; outline: none; whitespace: nowrap
}
.HIDDENPSEUDOBUTTON {
	FONT-SIZE: 11px; CURSOR: hand; COLOR: black; FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'; TEXT-DECORATION: none; outline: none
}
A.HIDDENPSEUDOBUTTON:hover {
	TEXT-DECORATION: none
}
.LABELHELPLINK {
	CURSOR: help; COLOR: black; TEXT-DECORATION: none; outline: none
}
A.LABELHELPLINK:hover {
	CURSOR: help; COLOR: #000066; TEXT-DECORATION: none
}
.HEADERHELPLINK {
	CURSOR: help; COLOR: #ffffff; TEXT-DECORATION: none; outline: none
}
A.HEADERHELPLINK:hover {
	CURSOR: help; COLOR: #f0f0ff; TEXT-DECORATION: none
}
.TAB {
	BACKGROUND: #f0f0f0
}
.SELECTEDTAB {
	COLOR: #404070
}
.DISABLED {
	COLOR: #606060
}
.INSET {
	BORDER-RIGHT: thin inset; BORDER-TOP: thin inset; BORDER-LEFT: thin inset; BORDER-BOTTOM: thin inset
}
.OUTSET {
	BORDER-RIGHT: thin outset; BORDER-TOP: thin outset; BORDER-LEFT: thin outset; BORDER-BOTTOM: thin outset
}
.MINI {
	FONT-SIZE: 1pt; LINE-HEIGHT: 1px; FONT-FAMILY: Helvetica
}
.BUTTONBACKGROUND {
	BACKGROUND: #e0e0e0; COLOR: #000098
}
.IMAGECELL {
	BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #ffffff
}
.DATECELL {
	BACKGROUND: #e0e0e0; WIDTH: 100%; TEXT-DECORATION: none
}
A.DATECELL:hover {
	BACKGROUND: #d0d0d0; WIDTH: 100%; TEXT-DECORATION: none
}
.HIDDEN {
	DISPLAY: none
}
.JUSTIFY {
	
}
.NOMARGIN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.NOPRINT {
	
}
@media Print    
{
.NOPRINT {
	DISPLAY: none
}
}
