@font-face {
	font-family: "Flaticon";
	src: url("/HIS/hisglobal/css/Fonts/flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("/HIS/hisglobal/css/Fonts/flaticon.woff") format("woff"),
	url("/HIS/hisglobal/css/Fonts/flaticon.ttf") format("truetype"),
	url("/HIS/hisglobal/css/Fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 25px;
font-style: normal;
margin-left: 0px;
padding: 0px;
}.flaticon-ambulance9:before {
	content: "\e000";
}
.flaticon-anesthesia:before {
	content: "\e001";
}
.flaticon-atom26:before {
	content: "\e002";
}
.flaticon-baby137:before {
	content: "\e003";
}
.flaticon-bacteria2:before {
	content: "\e004";
}
.flaticon-bacteria3:before {
	content: "\e005";
}
.flaticon-band4:before {
	content: "\e006";
}
.flaticon-bed20:before {
	content: "\e007";
}
.flaticon-bed30:before {
	content: "\e008";
}
.flaticon-biohazard2:before {
	content: "\e009";
}
.flaticon-biology:before {
	content: "\e00a";
}
.flaticon-blood10:before {
	content: "\e00b";
}
.flaticon-blood12:before {
	content: "\e00c";
}
.flaticon-blood14:before {
	content: "\e00d";
}
.flaticon-blood8:before {
	content: "\e00e";
}
.flaticon-brain2:before {
	content: "\e00f";
}
.flaticon-brain5:before {
	content: "\e010";
}
.flaticon-broken36:before {
	content: "\e011";
}
.flaticon-caduceus1:before {
	content: "\e012";
}
.flaticon-caduceus3:before {
	content: "\e013";
}
.flaticon-caduceus4:before {
	content: "\e014";
}
.flaticon-caduceus7:before {
	content: "\e015";
}
.flaticon-chemical:before {
	content: "\e016";
}
.flaticon-clinic2:before {
	content: "\e017";
}
.flaticon-clinic3:before {
	content: "\e018";
}
.flaticon-dentist13:before {
	content: "\e019";
}
.flaticon-diet2:before {
	content: "\e01a";
}
.flaticon-drip2:before {
	content: "\e01b";
}
.flaticon-drugs:before {
	content: "\e01c";
}
.flaticon-ear:before {
	content: "\e01d";
}
.flaticon-ecg2:before {
	content: "\e01e";
}
.flaticon-electrocardiogram1:before {
	content: "\e01f";
}
.flaticon-electrocardiogram2:before {
	content: "\e020";
}
.flaticon-electrocardiogram3:before {
	content: "\e021";
}
.flaticon-emergency7:before {
	content: "\e022";
}
.flaticon-eye46:before {
	content: "\e023";
}
.flaticon-eye90:before {
	content: "\e024";
}
.flaticon-female206:before {
	content: "\e025";
}
.flaticon-firstaid4:before {
	content: "\e026";
}
.flaticon-first21:before {
	content: "\e027";
}
.flaticon-first30:before {
	content: "\e028";
}
.flaticon-first42:before {
	content: "\e029";
}
.flaticon-folder160:before {
	content: "\e02a";
}
.flaticon-glass43:before {
	content: "\e02b";
}
.flaticon-handicap2:before {
	content: "\e02c";
}
.flaticon-health:before {
	content: "\e02d";
}
.flaticon-health3:before {
	content: "\e02e";
}
.flaticon-health6:before {
	content: "\e02f";
}
.flaticon-heart255:before {
	content: "\e030";
}
.flaticon-heart258:before {
	content: "\e031";
}
.flaticon-heart27:before {
	content: "\e032";
}
.flaticon-hospital16:before {
	content: "\e033";
}
.flaticon-hospital17:before {
	content: "\e034";
}
.flaticon-hospital3:before {
	content: "\e035";
}
.flaticon-illness:before {
	content: "\e036";
}
.flaticon-injured2:before {
	content: "\e037";
}
.flaticon-lifeline11:before {
	content: "\e038";
}
.flaticon-lifeline15:before {
	content: "\e039";
}
.flaticon-list60:before {
	content: "\e03a";
}
.flaticon-lungs4:before {
	content: "\e03b";
}
.flaticon-man365:before {
	content: "\e03c";
}
.flaticon-man412:before {
	content: "\e03d";
}
.flaticon-md:before {
	content: "\e03e";
}
.flaticon-medical14:before {
	content: "\e03f";
}
.flaticon-medical47:before {
	content: "\e040";
}
.flaticon-medical50:before {
	content: "\e041";
}
.flaticon-medical51:before {
	content: "\e042";
}
.flaticon-medical54:before {
	content: "\e043";
}
.flaticon-medical55:before {
	content: "\e044";
}
.flaticon-medical59:before {
	content: "\e045";
}
.flaticon-medical64:before {
	content: "\e046";
}
.flaticon-medical68:before {
	content: "\e047";
}
.flaticon-medical77:before {
	content: "\e048";
}
.flaticon-medical79:before {
	content: "\e049";
}
.flaticon-medical92:before {
	content: "\e04a";
}
.flaticon-medical96:before {
	content: "\e04b";
}
.flaticon-medicine17:before {
	content: "\e04c";
}
.flaticon-medicines:before {
	content: "\e04d";
}
.flaticon-medicines4:before {
	content: "\e04e";
}
.flaticon-microscope13:before {
	content: "\e04f";
}
.flaticon-microscope18:before {
	content: "\e050";
}
.flaticon-negative12:before {
	content: "\e051";
}
.flaticon-nurse8:before {
	content: "\e052";
}
.flaticon-operating:before {
	content: "\e053";
}
.flaticon-oxygene:before {
	content: "\e054";
}
.flaticon-patient1:before {
	content: "\e055";
}
.flaticon-patient3:before {
	content: "\e056";
}
.flaticon-patient4:before {
	content: "\e057";
}
.flaticon-pharmacy8:before {
	content: "\e058";
}
.flaticon-phonendoscope:before {
	content: "\e059";
}
.flaticon-pill:before {
	content: "\e05a";
}
.flaticon-pill11:before {
	content: "\e05b";
}
.flaticon-positive3:before {
	content: "\e05c";
}
.flaticon-pregnancy:before {
	content: "\e05d";
}
.flaticon-ribbon56:before {
	content: "\e05e";
}
.flaticon-rolled2:before {
	content: "\e05f";
}
.flaticon-scale12:before {
	content: "\e060";
}
.flaticon-share2:before {
	content: "\e061";
}
.flaticon-skeleton:before {
	content: "\e062";
}
.flaticon-skull34:before {
	content: "\e063";
}
.flaticon-stethoscope12:before {
	content: "\e064";
}
.flaticon-syringe:before {
	content: "\e065";
}
.flaticon-syrup:before {
	content: "\e066";
}
.flaticon-tag38:before {
	content: "\e067";
}
.flaticon-teeth:before {
	content: "\e068";
}
.flaticon-temperature16:before {
	content: "\e069";
}
.flaticon-test1:before {
	content: "\e06a";
}
.flaticon-two288:before {
	content: "\e06b";
}
.flaticon-unhealthy:before {
	content: "\e06c";
}
.flaticon-vehicle41:before {
	content: "\e06d";
}
.flaticon-virus:before {
	content: "\e06e";
}
.flaticon-virus5:before {
	content: "\e06f";
}
.flaticon-water12:before {
	content: "\e070";
}
.flaticon-women13:before {
	content: "\e071";
}
.flaticon-xray2:before {
	content: "\e072";
}
