body{
	margin: 0;
	padding: 0;
}
.div-table {
	display: table;
	width: 100%;
	/*border-spacing: 3px; *//*cellspacing:poor IE support for  this*/
		color: #DFFFF4; 
    font-family: Verdana,Arial,Helvetica,sans-serif;
   /* font-size: 12px;*/
    color: #013157;
    font-weight: bold;
}

.div-table-row {
	display: table-row;
	width: 100%;
	clear: both;
}

.div-table-col {
	float: left; /*fix for  buggy browsers*/
	display: table-column;
	width: auto;
	padding: 2px;
	 -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	 /*margin-bottom: 3px;*/
}

.title {

	background: #1277b5; /* Old browsers */
background: -moz-linear-gradient(top,  #40A161 0%, #40A161 0%, #40A161 32%, #40A161 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#40A161), color-stop(0%,#40A161), color-stop(32%,#40A161), color-stop(100%,#40A161)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #40A161 0%,#40A161 0%,#40A161 32%,#40A161 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #40A161 0%,#40A161 0%,#40A161 32%,#40A161 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #40A161 0%,#40A161 0%,#40A161 32%,#40A161 100%); /* IE10+ */
background: linear-gradient(to bottom,  #40A161 0%,#40A161 0%,#40A161 32%,#40A161 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40A161', endColorstr='#40A161',GradientType=0 ); /* IE6-9 */

    color: #FFFFFF;
    font-family:  Verdana,Arial,Helvetica,sans-serif;
  /*  font-size: 12px;*/
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 26px;
    line-height: 14pt;
    text-transform: capitalize;
}
.subtitle{
	background-color: #E0EBEB;
    color: black;
    font-family: Verdana,Arial,Helvetica,sans-serif;
   /* font-size: 12px;*/
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 22px;
    line-height: 14pt;
    text-transform: capitalize;
}
.alignLeft{
text-align: left;
}
.alignRight{
text-align: left;
}
.alignCenter{
text-align: left;
}
.noPadding{
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
}
.width4{
	width: 4%;
}
.width5{
	width: 5%;
}
.width6{
	width: 6%;
}
.width7{
	width: 7%;
}
.width8{
	width: 8%;
}
.width9{
	width: 9%;
}
.width10{
	width: 10%;
}
.width15{
	width: 15%;
}
.width16{
	width: 16%;
}
.width17{
	width: 17%;
}
.width18{
	width: 18%;
}
.width19{
	width: 19%;
}
.width20{
	width: 20%;
}
.width25{
	width: 25%;
}
.width30{
	width: 30%;
}
.width35{
	width: 35%;
}
.width40{
	width: 40%;
}
.width45{
	width: 45%;
}
.width50{
	width: 50%;
}
.width55{
	width: 55%;
}
.width60{
	width: 60%;
}
.width65{
	width: 65%;
}
.width70{
	width: 70%;
}
.width75{
	width: 75%;
}
.width80{
	width: 80%;
}
.width85{
	width: 85%;
}
.width90{
	width: 90%;
}
.width95{
	width: 95%;
}
.width100{
	width: 100%;
}

.height20{
	height: 20%;
}
.label{
	background-image: url("none");
   	 
    font-family: Verdana,Arial,Helvetica,sans-serif;
   /* font-size: 11px;*/
    font-weight: bold;
    text-align: right;
}

.control{
	/* color:#333333; */
	text-align:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*font-size: 12px;*/
	font-style: normal;
	padding-left: 5px;
	font-weight: normal;
}
.wrapper{
	background-color: #F1F6F6;
	margin: auto;
}


select
{
	border: 1px solid gray;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid;
	vertical-align: top;	
	min-width:100px;	
}

select:HOVER
 {
	border: 1px solid;
	border-color:black;	
}

select:FOCUS {
	border: 1px solid #3366FF;		
	border-left: 4px solid #3366FF;
}

.combo100{
	width: 100px;
}
.combo150{
	width: 150px;
}
.combo200{
	width: 200px;
}
textarea{
-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: #666 0px 2px 3px;
	-moz-box-shadow: #666 0px 2px 3px;
	box-shadow: #666 0px 2px 3px;
	border: 1px solid;
	vertical-align: top;
	border: 1px solid gray;
}
textarea:HOVER  {
border: 1px solid #3366FF;

}
textarea:FOCUS  {
border: 1px solid #3366FF;
}

input[type="text"]
 {
 	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid;
	vertical-align: top;
	border: 1px solid gray;	
	min-width:100px;
}

input[type="text"]:HOVER
 {
	border: 1px solid;
	border-color:black;
}

input[type="text"]:FOCUS {
	border: 1px solid #3366FF;		
	border-left: 4px solid #3366FF;
	-webkit-box-shadow: #666 0px 2px 3px;
	-moz-box-shadow: #666 0px 2px 3px;
	box-shadow: #666 0px 2px 3px;
}


input[type="password"]
 {
 	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid;
	vertical-align: top;
	border: 1px solid gray;	
	min-width:100px;
}

input[type="password"]:HOVER
 {
	border: 1px solid;
	border-color:black;
}

input[type="password"]:FOCUS {
	border: 1px solid #3366FF;		
	border-left: 4px solid #3366FF;
	-webkit-box-shadow: #666 0px 2px 3px;
	-moz-box-shadow: #666 0px 2px 3px;
	box-shadow: #666 0px 2px 3px;
}
.rounded {
	position: relative;
	border-radius: 8px;
	behavior: url(border-radius.htc);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-box-shadow: #666 0px 2px 3px;
	-moz-box-shadow: #666 0px 2px 3px;
	box-shadow: #666 0px 2px 3px;
	border: 1px solid silver;
	vertical-align: top;
	
}

/* style for listing table */
.div-table-listing {
	display: table;
	width: 97%;
	margin: auto;
	border: 1px solid black;
	border-spacing: 3px;
}
.div-table-listing .div-table {
    border-spacing: 0;
}
.div-table-listing .div-table-col {
    padding: 0;
}
/* .div-table-listing .div-table-row:hover{
	background-color: #99CEF2;
	background-color: #F1F6F6;
	background-color: #E0EBEB;
	}
	 */
	 .div-table-listing .div-table-row:nth-child(odd){
	background-color: #F1F6F6;
	}
	.div-table-listing .div-table-row:nth-child(even){
	background-color: #E0EBEB;
	}
	/* .div-table .div-table-col:nth-child(odd){
	background-color: #8BB4B4;
	}
	.div-table .div-table-col:nth-child(even){
	background-color: #fff;
	} */
.div-table-listing .listHeader{
background-color:#EFEFF7 !important;	
	height: 20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*font-size: 12px;*/
	font-weight: bold;
	color: #000000;
	text-align:left;
}
.listData{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*font-size: 12px;*/
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: #FFFFFF;
	text-align:left;
	/* border:1px solid black; */
}

/* button toolbar */

.div-table-button{
	display: table;
	width: 100%;
	margin: 10px auto;
}

.div-table-button .div-table-col{
	margin: 0px;
	padding: 0px;
}
.div-table-button .footerBar{
	width: 100%;
	height: 10px;
	background-color: #40A161;
	margin: 0px;
	padding: 0;
}
.div-table-button .emptyBar{
	width: 100%;
	height: 5px;
	margin: 0px;
	padding: 0;
}

.tablespacing0{
	border-spacing: 0px;
}



/* style related to login screen */
