/* this contain the font type and size of font in td fields*/
TD {
	FONT-SIZE: 15px;
	FONT-FAMILY: 'MS Sans Serif', Arial, Helvetica, 'sans-serif'
}

/****************report css**************************/
.style_14 {
	border: 1px solid rgb(0, 0, 0);
	background-color: rgb(192, 192, 192);
}

.style_16 {
	font-family: Arial;
	font-weight: bold;
	font-size: 10pt;
}

.style_19 {
	font-family: Arial;
	font-weight: normal;
	font-size: 10pt;
}

.style_17 {
	font-family: Arial;
	font-weight: bold;
	font-size: 10pt;
}

.style_15 {
	border: 1px solid rgb(0, 0, 0);
}

.style_20 {
	border-top: 1px solid rgb(0, 0, 0);
}

.blanket {
	background-color: #111;
	opacity: 0.60;
	filter: alpha(opacity = 60);
	position: absolute;
	z-index: 9001;
	top: 0px;
	left: 0px;
	width: 100%;
}

.popUpDiv {
	position: absolute;
	background-color: #ffffff;
	top: 126px;
	left: 100px;
	width: 80%;
	z-index: 9002;
}

.HEADER {
	background-image: url('../../images/LightStrip.png');
	background-color: #CCCCCC;
	height: 23px;
	color: #005B88;
	text-transform: capitalize;
	font-family: Trebuchet MS;
	font-size: 13px;
	text-align: left;
	font-style: normal;
	line-height: 14pt;
	font-weight: bold;
	font-variant: normal;
}

.LABEL {
	background-color: #FFEBD5;
	height: 16;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-align: right;
	font-weight: bold;
	background-image: url('none');
}

.CONTROL {
	background-Color: #F1ECE2;
	height: 16;
	color: #333333;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
}

.CONTROL1 {
	background-Color: #F1ECE2;
	height: 16;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
}

.TITLE {
	background-Color: #FFB365;
	font-family: Trebuchet MS;
	font-style: normal;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	color: #653232;
	height: 16px;
	text-align: center;
}

.TITLE1 {
	background-Color: #FFB365;
	font-family: Trebuchet MS;
	font-style: normal;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	color: #653232;
	height: 16px;
}

.FOOTER {
	background-image: url('../../images/LightStrip.png');
	background-color: #CCCCCC;
	height: 23px;
	color: #005B88;
	text-transform: capitalize;
	text-align: right;
	font-family: Trebuchet MS;
	font-size: 13px;
	font-style: normal;
	line-height: 14pt;
	font-weight: bold;
	font-variant: normal;
}

.multiLabel {
	background-color: #FFCF9B;
	height: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #653232;
	text-align: center;
}

/*********************report css end************************/
	/* this class #DDEAFF; E9E9E9provide the background  for data part */
.drag {
	cursor: move;
	position: relative;
	display: block;
}

.dragDiv {
	background-Color: #FFFF00;
	color: black;
	text-align: right;
	cursor: move;
	font-weight: bold;
	position: absolute;
}

/* this class is used to display combo header rows. */
	/* CHANGES MADE BY RAHUL ON 24TH AUG,07*/
TD.TDCOMBOHEADER {
	background-Color: #FFB365;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: left top;
	height: 16px;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	font-family: "Trebuchet MS";
	color: #653232;
	text-align: right;
	text-transform: none;
}

/* this class is used for search row. */
TD.TDSEARCH {
	background-color: #FFEBD5;
	height: 16px;
	font-family: Trebuchet MS;
	font-size: 13px;
	font-weight: bold;
	color: #653232;
}

/* this class is for the header & footer rows. */
TD.TDHEADER {
	background-image: url('../../images/LightStrip.png');
	background-color: #CCCCCC;
	height: 23px;
	color: #005B88;
	text-transform: capitalize;
	font-family: Verdana;
	font-size: 13px;
	font-style: normal;
	line-height: 14pt;
	font-weight: bold;
	font-variant: normal
}

/*COLOR FOR ROW DATA*/
TR.rowfont {
	background-color: #F1ECE2;
	height: 16px;
	font-size: 13px;
	font-weight: Normal;
	font-family: "Trebuchet MS";
	color: #990000;
	text-align: left;
	border-color: #FFFFFF;
}

/*This class is used for column header*/
TD.TDFONTHEAD {
	background-color: #FFEBD5;
	height: 16px;
	font-family: Trebuchet MS;
	font-size: 13px;
	font-weight: bold;
	color: #653232;
	text-align: left;
}

/* this class used in master name */
TD.MASTERNAME {
	height: 10px;
	font-size: 15px;
	font-family: "Trebuchet MS";
	font-weight: bold;
	color: #990000;
	text-align: left;
}

/* this class used upon mouse over  */
TR.ONMOUSEOUT1 {
	background-Color: #F1ECE2;
	height: 16px;
	font-size: 13px;
	font-weight: Normal;
	font-family: Trebuchet MS;
	color: #990000;
	text-align: left;
	border-color: #FFFFFF;
}

/* this class used in on mouse out  */
TR.ONMOUSEOVER1 {
	background-Color: #FFB365;
	height: 16px;
	font-size: 13px;
	font-family: Trebuchet MS;
	/*font-weight: bold;*/
	color: #653232;
	text-align: left;
}

/*This class is used for header & footer in view page*/
TD.VIEWTOPHEADER {
	background-image: url('../../images/LightStrip.png');
	background-color: #CCCCCC;
	height: 23px;
	color: #005B88;
	text-transform: capitalize;
	font-family: Verdana;
	font-size: 13px;
	font-style: normal;
	line-height: 14pt;
	font-weight: bold;
	font-variant: normal
}

/*This class is used for control in view page*/
td.tdfont {
	background-Color: #F1ECE2;
	height: 16;
	color: #333333;
	text-align: left;
	text-transform: none;
	font-family: "Trebuchet MS";
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
}

/* this class used in view page for label */
TD.TDFONTVIEW {
	background-color: #FFEBD5;
	height: 16;
	font-family: "Trebuchet MS";
	font-size: 13px;
	color: #333333;
	text-align: right;
	font-weight: bold;
	background-image: url('none');
}

TD.NEXTPREVIOUSCOLOR {
	height: 20px;
	font-size: 14px;
	font-family: Verdana;
	color: green;
	text-align: right;
}

.CB1 {
	font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	text-decoration: none;
	height: 20px;
	width: 120px;
}

.CB2 {
	font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	text-decoration: none;
	height: 20px;
	width: 150px;
}

.SEARCHCOMBO {
	font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	text-decoration: none;
	height: 20px;
	width: 140px;
}

.TEXTBOX1 {
	color: black;
	TEXT-DECORATION: none;
	height: 19px;
	width: 150px;
	font-family: Verdana;
	font-size: 10;
	text-align: left;
}

.TEXTBOX2 {
	color: black;
	TEXT-DECORATION: none;
	height: 19px;
	width: 40px;
	font-family: Verdana;
	font-size: 10;
	text-align: left;
}

.TEXTBOX3 {
	color: black;
	TEXT-DECORATION: none;
	height: 19px;
	width: 50px;
	font-family: Verdana;
	font-size: 10;
	text-align: left;
}

.TEXTBOX_SMALL {
	color: black;
	TEXT-DECORATION: none;
	height: 19px;
	width: 100px;
	font-family: Verdana;
	font-size: 10;
	text-align: left;
}

.TEXTSMALL {
	color: black;
	TEXT-DECORATION: none;
	height: 1px;
	width: 1px;
	font-family: Verdana;
	font-size: 1;
	text-align: left;
}