/*
 menu styles
 note: not all browsers render styles the same way so try out your style sheet
 in different browsers before publishing
*/



/* level 0 inner */
.m0l0iout {
	font-family: sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	margin: 4px 0 0 8px;
	color: #003030;
}
.m0l0iover {
	font-family: sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	margin: 5px 0 0 8px;
	color: #003030;
}

/* level 0 outer */
.m0l0oout {
	text-decoration : none;
	/*background-image: url(../../images/lev0_bg1.gif); */ 
	/* border: 1px solid #336699;*/
	width:12%;
	/*background-color: #FFA448;*/
	
	background: #7abcff; /* Old browsers */
	background: -moz-linear-gradient(top,  #7abcff 0%, #89a3af 0%, #0e7bb2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(0%,#89a3af), color-stop(100%,#0e7bb2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7abcff 0%,#89a3af 0%,#0e7bb2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7abcff 0%,#89a3af 0%,#0e7bb2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7abcff 0%,#89a3af 0%,#0e7bb2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7abcff 0%,#89a3af 0%,#0e7bb2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#0e7bb2',GradientType=0 ); /* IE6-9 */

    

}
.m0l0oover {
	text-decoration : none;
	/* background-image: url(../../images/lev0_bg2.gif); */
	/*background-color: #FFA448;*/
	background: #7abcff; /* Old browsers */
	background: -moz-linear-gradient(top,  #7abcff 0%, #89a3af 0%, #0e7bb2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(0%,#89a3af), color-stop(100%,#0e7bb2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7abcff 0%,#89a3af 0%,#0e7bb2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7abcff 0%,#89a3af 0%,#0e7bb2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7abcff 0%,#89a3af 0%,#0e7bb2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7abcff 0%,#89a3af 0%,#0e7bb2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#0e7bb2',GradientType=0 ); /* IE6-9 */

    
	width:12%;
	/*border: 1px solid #336699; */
}
.m0l0odis {
	text-decoration : none;
	/*background-color: #FFA448;*/
	background-color:#097AB3;
	width:12%;
	/*border: 1px solid #336699;*/
	border: 1px solid #f1f6f6;
	
}
/* level 1 inner */
.m0l1iout {
	font-family: sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica;
	font-size: 12px;
	margin: 4px 0 0 17px;
	color: #001515;
}
.m0l1iover {
	font-family: sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica;
	font-size: 12px;
	margin: 4px 0 0 17px;
	color: #001515;
}

/* level 1 outer */
.m0l1oout {
	text-decoration : none;
	background-color: #FFD2A6;
	border: 1px solid #336699;
	padding: 0;
}
.m0l1oover {
	text-decoration : none;
	background-color: #FFA448;
	background-image: url(../../images/lev1_arrow.gif);
	background-repeat: no-repeat;
	border: 1px solid #336699;
	padding: 0;
}
.logoutOver {
	font-family: sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica;
	font-size: 70%;
	font-weight: 900;
	width: 90px;
	margin: 3px 0 0 0px;
	/*color: #2C5F93;*/
	color:white;
}