a.button{
     background:#086fa6;
     display:inline-block;
     color:#fff;
     font-weight:bold;
     height:25px;
     line-height:25px;
     margin-right:5px;
     text-decoration:none;
     width:100px;
     border-radius:3px;
      text-align: left;
}
a.largebutton{
     background:#086fa6;
     display:inline-block;
     color:#fff;
     font-weight:bold;
     height:25px;
     line-height:25px;
     margin-right:5px;
     text-decoration:none;
     width:110px;
     border-radius:3px;
      text-align: left;
}
a.smallButton{
     background:#086fa6;
     display:inline-block;
     color:#fff;
     font-weight:bold;
     height:25px;
     line-height:25px;
     margin-right:5px;
     text-decoration:none;
     width:60px;
     border-radius:3px;
     
}
a.plainButton{
     background:#086fa6;
     display:inline-block;
     color:#fff;
     font-weight:bold;
     height:25px;
     line-height:25px;
     margin-right:5px;
     text-decoration:none;
     border-radius:3px;
     padding-left: 10px;
     padding-right: 10px;
     
}
a.buttonDisabled{
     background:#787878;
     display:inline-block;
     color:#fff;
     font-weight:bold;
     height:25px;
     /*line-height:25px;*/
     margin-right:5px;
	 padding-right:5px;
     text-decoration:none;
     width:auto;
     border-radius:3px;
     text-align: left;
}
a:hover.button{
     color:#000;
}
a:focus.button{
     color:#000;
}
a:hover.plainButton{
     color:#000;
}
a:focus.plainButton{
     color:#000;
}
.save{
background:url(../images/buttons/save.png) no-repeat 10px 5px;
text-indent:30px;
display:block;
}
.clear{
background:url(../images/buttons/clear.png) no-repeat 10px 5px;
text-indent:30px;
display:block;
}
.cancel{
background:url(../images/buttons/cancel.png) no-repeat 10px 5px;
text-indent:30px;
display:block;
}
.add{
background:url(../images/buttons/add.gif) no-repeat 10px 5px;
text-indent:30px;
display:block;
}
.modify{
background:url(../images/buttons/edit.png) no-repeat 10px 5px;
text-indent:30px;
display:block;
}
.delete{
background:url(../images/buttons/trash.gif) no-repeat 10px 5px;
text-indent:30px;
display:block;
}
.view{
background:url(../images/buttons/view.png) no-repeat 10px 5px;
text-indent:30px;
display:block;
}
.reports{
background:url(../images/buttons/report.png) no-repeat 10px 5px;
text-indent:30px;
display:block;
}
.print{
background:url(../images/buttons/print.gif) no-repeat 10px 5px;
text-indent:30px;
display:block;
}
.generate{
background:url(../images/buttons/generate.png) no-repeat 10px 5px;
text-indent:30px;
display:block;
}
.back{
background:url(../images/buttons/return.png) no-repeat 10px 5px;
text-indent:30px;
display:block;
}
.next{
background:url(../images/buttons/next.png) no-repeat 10px 5px;
text-indent:30px;
display:block;
}
.go{
background:url(../images/buttons/save.png) no-repeat 10px 5px;
text-indent:30px;
display:block;
}
.search{
background:url(../images/buttons/zoom.png) no-repeat 10px 5px;
text-indent:30px;
display:block;
}
.report{
background:url(../images/buttons/report.png) no-repeat 10px 5px;
text-indent:30px;
display:block;
}