@font-face {
  font-family: steelfish;
  src: url("../res/Steelfish.eot?") format("embedded-opentype"), url("../res/Steelfish.woff") format("woff");
}
@font-face {
  font-family: steelfish;
  src: url("../res/Steelfish-Bold.eot?") format("embedded-opentype"), url("../res/Steelfish-Bold.woff") format("woff");
  font-weight: 900;
}
.cll {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  list-style: none;
}
.cll {
  font-weight: 400;
}
.cll {
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-variant: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  text-align: inherit;
  text-transform: inherit;
  color: inherit;
  vertical-align: top;
}
.cll {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 100%;
  vertical-align: top;
  font-family: "fira-sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  text-decoration: none;
}