
td.tdfont {
    background-color: #f1f6f6;
    color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 15px;
    line-height: normal;
    text-align: left;
    text-transform: capitalize;
}
td.tdfonthead {
    background-color: #e0ebeb;
    background-image: none;
    color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 15px;
    text-align: right;
}
body.bodycolor {
    background-color: #ffffff;
}
td.HEADER {
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    /*background-color: #ff9000;
    background-image: url("/AHIMS/hisglobal/images/LightStrip.png");*/
      background: #1277b5; /* Old browsers */
	background: -moz-linear-gradient(top,  #135d8c 0%, #1277b5 0%, #1277b5 32%, #135d8c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#135d8c), color-stop(0%,#1277b5), color-stop(32%,#1277b5), color-stop(100%,#135d8c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1277b5', endColorstr='#135d8c',GradientType=0 ); /* IE6-9 */
    
    color: white;
    font-family: Verdana,Arial;
    font-size: 12px;
    font-size-adjust: inherit;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: normal;
    text-transform: capitalize;
}
th.HEADER {
    background-color: #d87001;
    background-image: url("/AHIMS/hisglobal/images/LightStrip.gif");
    font-family: MS Sans Serif;
}
.applicationBackgroundColor {
    background-color: #1277B5;/*#000;*/
}
.TitleTagFontStyle {
    color: #fff;
    font-family: Verdana;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 14pt;
}
.ShadedTitleTagImage {
background: #1277b5; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #1277b5 0%, #a1c1ea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#1277b5), color-stop(100%,#a1c1ea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #1277b5 0%,#a1c1ea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #1277b5 0%,#a1c1ea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #1277b5 0%,#a1c1ea 100%); /* IE10+ */
background: linear-gradient(135deg,  #1277b5 0%,#a1c1ea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1277b5', endColorstr='#a1c1ea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}
.ShadedSubTitleTagImage {
    /*background: linear-gradient(to bottom, #135d8c 0%, #1277b5 0%, #1277b5 32%, #135d8c 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-image: url("/AHIMS/hisglobal/images/LightStrip20.png");*/
    background: #1277b5; /* Old browsers */
	background: -moz-linear-gradient(top,  #135d8c 0%, #1277b5 0%, #1277b5 32%, #135d8c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#135d8c), color-stop(0%,#1277b5), color-stop(32%,#1277b5), color-stop(100%,#135d8c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1277b5', endColorstr='#135d8c',GradientType=0 ); /* IE6-9 */
	

	
}
.ShadedSubTitleTagImageBroad {
    /*background-image: url("/AHIMS/hisglobal/images/LightStrip.png");
    background-position: left center;
    background-repeat: repeat-x;*/
    background: #1277b5; /* Old browsers */
	background: -moz-linear-gradient(top,  #135d8c 0%, #1277b5 0%, #1277b5 32%, #135d8c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#135d8c), color-stop(0%,#1277b5), color-stop(32%,#1277b5), color-stop(100%,#135d8c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1277b5', endColorstr='#135d8c',GradientType=0 ); /* IE6-9 */

}
.ContentTagSideLine {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-width: 0 1px;
}
td.tdfontheadExam {
    background-color: #e0ebeb;
    background-image: none;
    color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 15px;
    text-align: left;
}
TD.LABEL {
    background-color: #e0ebeb;
    background-image: url("none");
    color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 16px;
    text-align: right;
}
TD.CONTROL {
    background-color: #f1f6f6;
    color: #333333;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    height: 16px;
    text-align: left;
}
.TITLE {
    background-color: #ffb365;
    /* color: #653232; changed by neha sharma*/
    color: white;
    font-family: Trebuchet MS;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    height: 16px;
    text-align: left;
}
TR.HEADER {
   /* background-color: #ffb365;
    background-image: url("../../hisglobal/images/LightStrip.png");*/
    
    background: #1277b5; /* Old browsers */
	background: -moz-linear-gradient(top,  #135d8c 0%, #1277b5 0%, #1277b5 32%, #135d8c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#135d8c), color-stop(0%,#1277b5), color-stop(32%,#1277b5), color-stop(100%,#135d8c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1277b5', endColorstr='#135d8c',GradientType=0 ); /* IE6-9 */
	
    color: white;
    font-family: Trebuchet MS;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 23px;
    line-height: 14pt;
    text-transform: capitalize;
}
