/* contain common css */
.formbg {
	/*background: url(../images/form_bg.png) center repeat-x;*/
	background-size: auto 100%;
}

.formbgnew {
	background: url(../images/form_bg.png) center repeat-x;
	background-size: auto 100%;
	width: 95%;
	margin-left:2.3%;
}

.background {
	background: url("../images/background.png") repeat-x scroll 0 1px
		#FFFFFF;
}

/* table width is defined for add and modify pages. */
.TABLEWIDTH {
	width: 95%;
	border-collapse: collapse;
}

TR.HEADER {
	height: 23px;
	color: white;
	text-transform: capitalize;
	font-family: Georgia;
	font-size: 12px;
	font-style: normal;
	line-height: 14pt;
	font-weight: bold;
	font-variant: normal;
	background: url(../images/selected.png);
}
/* to show footer. It contains font type, font color, font size and background color */
TR.FOOTER {
	background: url(../images/selected.png);
	height: 12px;
	color: #FFFFFF;
	text-transform: capitalize;
	text-align: right;
	font-family: Georgia;
	font-size: 12px;
	font-style: normal;
	line-height: 14pt;
	font-weight: bold;
	font-variant: normal;
}

TR.HIGHLIGHT {
	background-color: lightgreen;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #4b68f6;
	height: 8px;
	text-align: center;
}

TD.TDSEARCH {
	background: url(../images/selected.png);
	height: 16px;
	font-family: georgia;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	padding: 2px;
}

.all-four-rounded-corners {
	background-color: #0e5584;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px 0px 0px 10px;
	padding-left: 10px;
	-moz-box-shadow: inset 0 0 10px 0 #222;
	-webkit-box-shadow: inset 0 0 10px 0 #222;
	box-shadow: inset 0 0 10px 0 #222;
}

/* for label field of table's TD. It contains font type, font color, font size and background color */
TD.LABEL {
	background-image: url("none");
	color: #013157;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 16px;
	text-align: right;
}

/* for control field of table's TD. It contains font type, font color, font size and background color */
TD.CONTROL {
	height: 16px;
	color: #333333;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	padding-left: 3px;
}
/* fot combo of maximum size. It contains font type, font color, font size, width of the field */
.comboMax {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	height: 20px;
	width: 90%;
}

.combo1Max {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	height: 20px;
	width: 330px;
}
/* fot combo of normal size. It contains font type, font color, font size, width of the field */
.comboNormal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	height: 20px;
	width: 65%;
}
.comboMin {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	height: 20px;
	width: 60%;
}

.comboTooMax {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	height: 20px;
	width: 100%;
}

TD {
	font-size: 13px;
	font-family: Arial;
}

.pg-normal {
	color: blue;
	font-weight: normal;
	text-decoration: none;
	cursor: pointer;
}

.pg-selected {
	color: red;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

.pg-qualified {
	color: green;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

.pg-highlight {
	color: white;
	font-weight: normal;
	text-decoration: none;
	cursor: pointer;
	font-size: 14px;
	font-style: normal;
	line-height: 15pt;
	font-weight: bold;
	font-variant: normal;
}

div.ex {
	width: 190px;
	padding: 8px;
	border: 2px solid gray;
	margin: 0px;
}

.class3 {
	A: link{text-decoration:  none
}

A:visited {
	text-decoration: none
}

A:active {
	text-decoration: none
}

A:hover {
	font-size: 30;
	font-weight: bold;
	color: red;
}

}

/* to center align label field. It contains font type, font color, font size and background color */
.multiRPTLabel {
	background-color: #EFEFF7;
	height: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000;
	text-align: center;
	border: 1px solid black;
}


.multiRPTLabel1 {
	background-color: #ccdcee;
	height: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000;
	text-align: center;
	border: 1px solid black;
}

.multiRPTLabel2 {
	background-color: #a9c4e9;
	height: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	text-align: center;
	border: 1px solid black;
}

.multiRPTLabel3 {
	background-color: #EFEFF7;
	height: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000;
	text-align: center;	
}
.multiRPTLabel4 {
	background-color: #EFEFF7;
	height: 20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	text-align: center;
	border: 1px solid black;
}

/* to center align control field. It contains font type, font color, font size and background color */
.multiRPTControl {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: #FFFFFF;
	height: 12px;
	text-align: center;
	border: 1px solid black;
}


/* to center align control field. It contains font type, font color, font size and background color */
.multiRPTControl2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: #D8D8D8;
	height: 12px;
	text-align: center;
}

.multiRPTControl1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: #FFFFFF;
	height: 12px;
	text-align: center;
}

.multiRPTControl3 {
	background-color: #FFF;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	height: 12px;
	text-align: center;
}

.multiRPTControl4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: #FFFFFF;
	height: 13px;
	text-align: left;
	border: 1px solid black;
	
}
.multiRPTControl5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: #FFFFFF;
	height: 13px;
	text-align: left;
	border: 1px solid black;
	font-weight: bold;
}

.multiRPTControlHighlight {
    background-color: #FFFFCC;
    border: 1px solid black;
    color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    height: 13px;
    text-align: left;
}

/* to center align label field. It contains font type, font color, font size and background color */
.multiLabel {
	background-color: #EFEFF7;
	height: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	border: 1px solid black;
}

/* to center align control field. It contains font type, font color, font size and background color */
.multiControl {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: #FFFFFF;
	height: 16px;
	text-align: center;
	border: 1px solid black;
}

/* to center align label field. It contains font type, font color, font size and background color */
.multiPOLabel {
	background-color: #EFEFF7;
	height: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	border: 1px solid black;
}

.multiPOLabelNew {
	background-color:#a9c4e9;	
	height: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight: bold;
	color: #000000;
	text-align:center;
	border:1px solid black;
}

/* to center align control field. It contains font type, font color, font size and background color */
/* to center align label field. It contains font type, font color, font size and background color */
.multiRPTGreenLabel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: LIGHTGREEN;
	height: 8px;
	text-align: center;
	border: 1px solid black;
}

.multiRPTYellowLabel 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: LIGHTYELLOW;
	height: 8px;
	text-align: center;
	border: 1px solid black;
}


.multiPOControl {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: #FFFFFF;
	height: 8px;
	text-align: center;
	border: 1px solid black;
}

.Approved {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #151AFB;
	background-color: #D3D5C9;
	height: 10px;
	text-align: center;
	border: 1px solid black;
}


.NotMapped {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: RED;
	background-color: #D3D5C9;
	height: 10px;
	text-align: center;
	border: 1px solid black;
}
 

.Excess{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: RED;	
	background-color: LIGHTYELLOW;
	height: 10px;
	text-align: center;
	border: 1px solid black;
}


.NotApproved {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: #FFFFFF;
	height: 8px;
	text-align: center;
	border: 1px solid black;
}

/* for tborder:1px solid black;ains font type, font color, font size and background color */
.TITLE {
	background-Color: #EFEFF7;
	font-family: Arial;
	font-style: normal;
	font-size: 12px;
	font-weight: bold;
	color: FFFFFF;
	height: 16px;
	text-align: left;
	border: 1px solid black;
}

/* table width is defined for add and modify pages. */
.NEWTABLEWIDTH {
	width: 100%;
	border-collapse: collapse;
}

/* for menu */
#menu {
	background: url("../images/menu.png") repeat-x scroll 0 0 transparent;
	clear: both;
	height: 34px;
	min-width: 900px;
	padding: 0 0px;
	position: relative;
	z-index: 1;
}

#menu>ul.left {
	float: left;
}

#menu>ul.right {
	float: right;
}

#menu>ul {
	margin: 0;
	padding: 0;
	position: relative;
}

#menu>ul ul {
	background: url("../images/transparent.png") repeat scroll 0 0
		transparent;
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

#menu>ul a {
	display: block;
	text-decoration: none;
}

#menu>ul li {
	float: left;
	list-style: none outside none;
}

#menu>ul>li+li {
	background: url("../images/split.png") no-repeat scroll left center
		transparent;
}

#menu>ul .top {
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 10px 15px 9px 17px;
	text-align: center;
}

.CB1 {
	border: 1px solid #7B9EBD;
	font-family: tahoma;
	font-size: 10pt;
	height: 19px;
	margin-top: 3px;
	width: 65%;
	margin-left: 1%;
}

/* to show error messages. */
.errMsg {
	font-family: Trebuchet MS;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: red;
	text-align: center;
}

/* to show normal messages. */
.normalMsg {
	font-family: Trebuchet MS;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #653232;
	text-align: center;
}

/* to show error messages. */
.warningMsg {
	font-family: Trebuchet MS;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #FF9900;
	text-align: center;
}
/* to show legends below footer*/
.legends {
	float: left;
	width: 40%;
	margin-left: 3%;
	font-style: italic;
}

.legends ul {
	list-style-image: url('../images/rounded.png');
	padding-left: 20px;
}

.legends ul li {
	
	}
	
.legendsnew {
	float: left;
	width: 20%;	
	font-style: italic;
}

.legendsnew ul {
	list-style-image: url('../images/rounded.png');
	padding-left: 20px;
}

.legends ul li {
	
	}	
/* to position control button*/
.control_button {
	margin-left: 35%;
	width: 65%;
}

#table_hrader {
	border-top: 1px solid #99BBE8;
}

#table_hrader table {
	background-color: #fff;
	border-color: #A0A0A4;
	border-spacing: 0;
	border-style: solid;
	border-width: 0 0px 1px;
}

#table_hrader table tr th {
	background-color: #ccdcee;
	border-color: #A0A0A4;
	border-spacing: 0;
	border-style: solid;
	border-width: 0 1px 0 0;
	color: Black;
	font-size: 9pt;
	font-variant: normal;
	font-weight: bold;
	height: 24px;
	padding: 2px 1px 1px 0px;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: break-word;
	z-index: 99;
	font-family: Georgia;
	text-align: left;
}

#table_hrader table tr td {
	border-color: #A0A0A4;
	border-spacing: 0;
	border-style: inset;
	border-width: 0px 1px 1px 0;
	color: black;
	cursor: pointer;
	font-size: 10pt;
	height: 15px;
	padding: 5px 3px 1px 0px;
	text-overflow: ellipsis;
	vertical-align: top;
	word-wrap: break-word;
	font-family: Arial, Helvetica, 'sans-serif';
}

/* fot textfield of minimum size. It contains font type, font color, font size, width of the field */
.txtFldMin {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	height: 14px;
	width: 50px;
	background-color: #FAEBD7;
}

/* fot textfield of normal size. It contains font type, font color, font size, width of the field */
.txtFldNormal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	height: 14px;
	width: 75px;
	background-color: #FAEBD7;
}

/* fot textfield of normal size. It contains font type, font color, font size, width of the field */
.txtFldDatePickerNormal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	height: 16px;
	width: 105px;
}

/* fot textfield of maximum size. It contains font type, font color, font size, width of the field */
.txtFldMax {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	height: 19px;
	width: 145px;
	background-color: #FAEBD7;
}

/* fot textfield of Big size. It contains font type, font color, font size, width of the field */
.txtFldBig {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	height: 14px;
	width: 250px;
}

/* fot textfield of small size. It contains font type, font color, font size, width of the field */
.txtFldSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	height: 14px;
	width: 35px;
}

/* fot textfield of small size and have red font. It contains font type, font color, font size, width of the field */
.txtFldSmall_Red {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #990000;
	height: 14px;
	width: 35px;
}

.Approved {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #151AFB;
	background-color: #D3D5C9;
	height: 16px;
	text-align: center;
}

.NotApproved {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: #F1ECE2;
	height: 16px;
	text-align: center;
}

@page {
	size: letter landscape;
}

a.class4:link {
	color: #800080;
	size: 2px;
}

a.class4:hover {
	color: red;
}

a.class4:active {
	color: black;
	size: 10px;
}

a.class4:visited {
	color: #800080;
	size: 10px;
}

#mask {
	display: none;	
	position: fixed;
	left: 0;
	top: 0;	
	width: 100%;
	height: 100%;
	opacity: 0.8;
	z-index: 999;
	background: #000 url('../images/e-Aushadhi.png') no-repeat 53%;
}

#dvLoading {
	display: none;
	background: url(../images/303-3.GIF) no-repeat center center;
	height: 130px;
	width: 130px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -25px 0 0 -25px;
	z-index: 1000;
}

/* for fixed header table in report start */
#boundary {
	margin-right: -2px;
	border: solid 1px #000;
}

table#headerTable th {
	border-right: solid 1px #555;
	/*background-image: -moz-linear-gradient(bottom, #FFFFFF -50%, #999999 100%);*/
	background-color:#5ECBFF;
	word-wrap: break-word;
	text-align: center;
	font-family: Helvetica;
    font-size: 12px;
}

table#headerTableTrans th,table#mainTableRptId th,table#mainTableDrugFinder th  {
	border-right: solid 1px #555;
	background-color:#a9c4e9;
	word-wrap: break-word;
	text-align: center;
	font-family: Helvetica;
    font-size: 12px;
}
#test
{ background-color:#5ECBFF;
}
table#headerTableTrans th,table#mainTableRptId1 th,table#mainTableDrugFinder th  {
	border-right: solid 1px #555;
	background-color:#5ECBFF;
	word-wrap: break-word;
	text-align: center;
	font-family: Helvetica;
    font-size: 12px;
}
table#headerTableTrans1 th,table#mainTableRptId th,table#mainTableDrugFinder th  {
	border-right: solid 1px #555;
	background-color:#5ECBFF;
	word-wrap: break-word;
	text-align: center;
	font-family: Helvetica;
    font-size: 12px;
}

thead#tbl-header {
	border: solid 1px #555;
	background-image: -moz-linear-gradient(bottom, #FFFFFF -50%, #999999 100%);
	word-wrap: break-word;
	text-align: center;
}

table#headerTable th#right-border {
	padding: 0 22px 0 3px;
	border-right: none;
	word-wrap: break-word;
}

table#headerTableTrans th#right-border {
	padding: 0 22px 0 3px;
	border-right: none;
	word-wrap: break-word;
}

table#mainTableDrugFinder th#right-border {
	padding: 0 14px 0 3px;
	border-right: none;
	word-wrap: break-word;
}

#boxHeaderFixed , #boxHeaderFixedNew {
	width: 100%;
	height: 350px;
	overflow-y: auto;
	border: solid 0px #BBBBBB;
	border-top: none;
	overflow-x: hidden;
}

#boxHeaderFixedDrpt {
	width: 100%;	
	overflow-y: auto;
	border: solid 0px #BBBBBB;
	border-top: none;
	overflow-x: hidden;
}

#boxHeaderFixed2 {
	width: 100%;
	height: 180px;
	overflow-y: auto;
	border: solid 0px #BBBBBB;
	border-top: none;
	overflow-x: hidden;
}

#boxHeaderNoScroll {
	width: 100%;
	overflow-y: auto;
	border: solid 0px #BBBBBB;
	border-top: none;
	overflow-x: hidden;
}




table#tbl-content tr:nth-child(even),table#tbl-content1 tr:nth-child(even), table#mainTableRptId tr:nth-child(even), table#tbl-content-annualDemand tr:nth-child(even) {
	background-color: #eeeeee;
}


tbody#tbl-body tr:nth-child(even) {
	background-color: #eeeeee;
}

table#tbl-content td ,table#tbl-content1 td, table#mainTableRptId td,table#tbl-content-annualDemand td{
	border-bottom: solid 1px #bbb;
	border-right: solid 1px #bbb;
	border-left: solid 1px #bbb;
	word-wrap: break-word;
	font-family: Helvetica;
    font-size: 12px;
}

table#tbl-content th,table#tbl-content1 th,table#tbl-content-annualDemand th{
	border-bottom: solid 1px #bbb;
	border-right: solid 1px #bbb;
	border-left: solid 1px #bbb;
	word-wrap: break-word;
	font-family: Helvetica;
    font-size: 12px;
    color:#fff;
}


table#tbl-content tr#bottom td,table#tbl-content1 tr#bottom td,table#tbl-content-annualDemand tr#bottom td {
	border-bottom: none;
}

#reportHeaderName {
	float: left;
	padding: 5px;
	font-weight: bold;
	background-color:white;
	width: 100%;
	text-align:center;
	color: black;
	border-radius: 0 9px 9px 0;
}
.tdNoBottomBorder
{			
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;	
}

.tdBorderRight
{		
	border-right: 1px solid #000000;	
}
/* for fixed header table in report start */