body{
margin: 0;
padding: 0;
 -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.mainLoginBg{
	background: #002820; /* Old browsers */

}
.wrapper{
width: 100%;
 /*height to be calculated dynamically height: 650px;*/
}

.header{
height: 55px;
background: #1277b5; /* Old browsers */
background: -moz-linear-gradient(top,  #135d8c 0%, #1277b5 0%, #1277b5 32%, #135d8c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#135d8c), color-stop(0%,#1277b5), color-stop(32%,#1277b5), color-stop(100%,#135d8c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* IE10+ */
background: linear-gradient(to bottom,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1277b5', endColorstr='#135d8c',GradientType=0 ); /* IE6-9 */

width: 100%;
color: white;


}
.headerImage{
	float: left;
}
.headerMenu{
	 -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	/* height: 25px; */
	/* float: right; */
	/* width: 20%; */
	position: relative;
	z-index: 11;
	float: right;
	width: 70px;
}
.headerMenu #menu li{
	border: 0;
	padding: 2px 10px 4px 2px;
} 
.headerMenu #menu li:hover{
	border: 0;
	padding: 2px 10px 4px 2px;
} 
 .headerMenu #menu .col_1{
 width: 150px;
 }
 .headerMenu #menu .dropdown_1column{
 width: 160px;
 }
.titleTag{
	text-align:center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: white;
	padding: 5px 5px 0;
	width: 70%;
	float: left;
}
.footerTag{
	text-align:center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: white;
	padding: 5px 5px 0;
	width: 70%;
	float: left;
}
.welcomeTag{
	 -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	text-align:right;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: white;
	padding: 5px 10px 2px 0;
	float: right;
	width: 300px;
}
.dateTag{
	 position: absolute;
    right: 25px;
    text-align: right;
    top: 32px;
    vertical-align: bottom;
    width: 100%;
}
.logoutTag {
	width: 85px;
	float: right;
	padding-top: 5px;
	cursor: pointer;
}
.logoutTag .alertCount{
	position: relative; 
	top: -11px;
	left: -2px;
	color: #FDA400;	
	font-weight: bold;
	
}
.body{
min-height: 370px;
/*overflow:hidden;*/
/*max-width: 100%;*/
    
    overflow-x: hidden;
 /*height to be calculated dynamically*/
}

.bodyContent{
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	margin: 0 auto;
	width: 100%;
	padding:  0;
}
	

.centerLayout{
width:90%;
min-width: 1000px;
margin: 0 auto 0;
overflow: hidden;
background-color: #FFFFFF;
opacity: 0.99;
	 /*height to be calculated dynamically*/
/*	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-box-shadow: #666 0px 2px 3px;
	-moz-box-shadow: #666 0px 2px 3px;
	box-shadow: #666 0px 2px 3px;
	border: 1px solid silver;
*/
	position: relative;
	top: 2%;
	height: 96%;
	border-radius: 10px;
	
}

.noticeBoard{
	position: relative;
	height: 50%;
   float:left;
overflow: hidden;
    width: 65%;
    margin:5px;
padding: 5px;
box-shadow:0 0 3px 0 #126396;
    -moz-box-shadow:0 0 10px 0 #126396;
    -webkit-box-shadow:0 0 10px 0 #126396;
	border: 1px solid #85465E;
	
	
background: #e7eff2; /* Old browsers */
background: -moz-linear-gradient(top,  #e7eff2 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7eff2), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e7eff2 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e7eff2 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e7eff2 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e7eff2 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7eff2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		
}
.loginParams{
	position: relative;
	height: 50%;
    float:right;
    width: 30%;
	text-align: center;
	min-height: 190px;
	margin: 5px;
	padding: 5px;
	box-shadow:0 0 3px 0 #126396;
    -moz-box-shadow:0 0 10px 0 #126396;
    -webkit-box-shadow:0 0 10px 0 #126396;
	border: 1px solid #85465E;
	
	
background: #e7eff2; /* Old browsers */
background: -moz-linear-gradient(top,  #e7eff2 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7eff2), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e7eff2 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e7eff2 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e7eff2 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e7eff2 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7eff2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		
}
.slider{height: 20%;
       float:left;
	padding-left: 2%;
	padding-top: 2%;
    width: 48%;
}
	
.alertMessage{
	text-align:center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	padding-left: 5px;
	font-weight: bold;
	color: red;
		
}

.login-button{
 background-color: #086FA6;
 color: WHITE;
 width: 70%;
 border-radius: 5px;
    cursor: pointer;
    font-weight:bold;
    margin: auto;
 }
 .login-button:hover{
 color: #000;
 }
 #forgotPasw {
    color: #024180;
    cursor: pointer;
    
}
.forgetPwd:hover {
    
    font-weight: bold;
    
}
h3{
color: #000000;
    font-family: 'Adamina',serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.208em;
    margin: 8px 0;
    text-align: center;
}
.login{
	text-align: center;
	position: relative;
	/* height: 250px; */
	border-radius: 10px;
	height: 175px;
       /* float:left; */
    width: 30%;
/* margin-left: 40px; */
overflow: hidden;
margin:15px auto;
padding: 5px;
background-color: #FFF3E6;
	box-shadow:0 0 3px 0 #126396;
    -moz-box-shadow:0 0 10px 0 #126396;
    -webkit-box-shadow:0 0 10px 0 #126396;
	border: 1px solid #85465E;
	
	
}

.forgetPwd{
	color: red;
}
.list-1 li {
    background: url("/AHIMS/hisglobal/images/marker-1.png") no-repeat scroll 0 7px transparent;
    font-size: 14px;
    line-height: 24px;
    padding-left: 20px;
}	
ol, ul {
    list-style: none outside none;
padding: 0;
margin: 0;
}

.loginbg{
background-image: url("/HIS/hisglobal/images/login/bg4.jpg");
width: 100%;
min-height: 370px;
overflow:hidden;
 /*height to be calculated dynamically*/
}

input[type="text"]
 {
 	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid;
	vertical-align: top;
	border: 1px solid gray;	
	width:70%;
	height: 25px;
	
}

input[type="text"]:HOVER
 {
	border: 1px solid;
	border-color:black;
	
}

input[type="text"]:FOCUS {
	border: 1px solid #3366FF;		
	border-left: 4px solid #3366FF;
	-webkit-box-shadow: #666 0px 2px 3px;
	-moz-box-shadow: #666 0px 2px 3px;
	box-shadow: #666 0px 2px 3px;
}
input[type="password"]
 {
 	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid;
	vertical-align: top;
	border: 1px solid gray;	
	width:70%;
	height: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	
}

input[type="password"]:HOVER
 {
	border: 1px solid;
	border-color:black;
	
}

input[type="password"]:FOCUS {
	border: 1px solid #3366FF;		
	border-left: 4px solid #3366FF;
	-webkit-box-shadow: #666 0px 2px 3px;
	-moz-box-shadow: #666 0px 2px 3px;
	box-shadow: #666 0px 2px 3px;
}

.footer{
	 -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
padding-top: 0px;
	height: 26px;
background: #1277b5; /* Old browsers */
background: -moz-linear-gradient(top,  #135d8c 0%, #1277b5 0%, #1277b5 32%, #135d8c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#135d8c), color-stop(0%,#1277b5), color-stop(32%,#1277b5), color-stop(100%,#135d8c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* IE10+ */
background: linear-gradient(to bottom,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1277b5', endColorstr='#135d8c',GradientType=0 ); /* IE6-9 */

text-align: center;
width: 100%;
color: white;



}


