@CHARSET "ISO-8859-1";
.flatTable{  
  width:100%;
  min-width:500px;
  border-collapse:collapse;  
  font-weight:bold;
  color:#6b6b6b;
  background-color: #fff;
}
.flatTableData{  
  width:100%;
  min-width:500px;
  border-collapse:collapse;  
  font-weight:bold;
  color:#003157;
  background-color: #fff;
}
table.flatTableData tr:nth-child(even){
	background-color: #eeeeee;
}
  tr{
    height:30px;    
    border-bottom:rgba(0,0,0,.05) 1px solid;
  }
  
  td{    
    box-sizing:border-box;
    padding-left:30px;    
  }

.titleTr{
  height:40px;  
  color:#FFFFFF; 
  background:#0f46a2;  
  border:0px solid;
}

.plusTd{
    background:url(../images/addTask.png) center center no-repeat, rgba(0,0,0,.1);
}

.controlTd{  
  position:relative;
  width:80px;
  background:url(9Q5f6cv.png) center center no-repeat;
  cursor:pointer;
}

.headingTr{
    height:30px;
    background:#292929;
    color:#f6f3f7; 
    font-size:10pt;
    border:0px solid;
} 


.button{
  text-align:center;
  cursor:pointer;
}

.sForm{
  position:absolute;
  top:0;
  right:-400px;
  width:400px;
  height:100%; 
  background:#f6f3f7;  
  overflow:hidden;  
  transition:width 1s, right .3s;
  padding:0px;
  box-sizing:border-box;
  }
  
  .close{
    float:right; 
    height:70px;
    width:80px;
    padding-top:25px;    
    box-sizing:border-box;
    background:rgba(255,0,0,.4);
      
  }
  
  .title{
    width:100%;
    height:70px;
    padding-top:20px;
    padding-left:20px;
    box-sizing:border-box;
    background:rgba(0,0,0,.1);
  }

.open{  
  right:0;
  width:400px !important;
}

.settingsIcons{
  position:absolute; 
  top:0;
  right:0;
  width:0;
  overflow:hidden;

}

.display{
  width:300px;
}

.settingsIcon{
  float:right; 
  background:#418a95;
  color:#f6f3f7;
  height:50px;
  width:80px;
  padding-top:15px;
  box-sizing:border-box;
  text-align:center;
  overflow:hidden;
  transition:width 1s;
}

.settingsIcon:hover{
  background:#418a95;
}



.openIcon{
   width:80px; 
}