#homeMenuMainDivId {
 	   
}

#homeMenuId{
	 	  
 	-moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.3s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.3s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.3s; 
}

@-moz-keyframes dropHeader {
    0% {
        -moz-transform: translateY(-40px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes dropHeader {
    0% {
        -webkit-transform: translateY(-40px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes dropHeader {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0);
    }
}

.rcorners {
    border-radius: 25px;
	padding:left right;
    float: left;
    height:100%    
}

.rcorners_1 {
    border-radius: 25px;
	padding:left right;
    float: left;
    height:100%    
}


.rcorners_1 li {
	display: inline;
	/*list-style-type: none;*/
	padding-right: 20px;
	 
}

h2 {
	color:#1277B5;
    text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;   
    letter-spacing: 5px;
	font: 30px 'MisoRegular';
	padding-left: 10px;  
	
} 

.heading{
	border-bottom: 3px solid #47C9AF;
}

a.menu_links { 
	cursor: pointer; 
}

a:hover {
	font-weight:bold;
}


li{	
 	list-style-image: url('/HIS/hisglobal/images/tabmenu/leaf-green.png');
} 

.level_1 a {
	color:#1277B5;
	font: 17px 'Times New Roman';
}

.level_2 a {
	color:#1277B5;
	font: 17px 'Times New Roman';	

}

.level_3 a {
	color:#1277B5;
	font: 17px 'Times New Roman';	

}

.level_4 a {
	color:#1277B5;
	font: 17px 'Times New Roman';	

}

.collapse{
	display: block;
	line-height:0;
	height: 0;
	overflow: hidden;
	-webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease;	
	cursor: pointer; 
}

.subwrapper {
	color: #bc2e1e;
	font: 17px 'MisoRegular';
	list-style-image: url('/HIS/hisglobal/images/tabmenu/leaf-plus.png');
    cursor: pointer;
    
}

.subwrapper:hover{
	font-weight:bold;
}

 #scrollable:hover{

	overflow-y: scroll;
	height: 65vh;
	overflow: auto;
}  

::-webkit-scrollbar {
    width: 1em;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: rgba(153, 153, 153, 0.75); 
  outline: 1px solid blue;
}


#fade {
    display: none;
    position:absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #ababab;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .70;
    filter: alpha(opacity=80);
}

#modal {
    display: none;
    position: absolute;
    top: 45%;
    left: 45%;
    width: 64px;
    height: 64px;
    padding:30px 15px 0px;
    border: 3px solid #ababab;
    box-shadow:1px 1px 10px #ababab;
    border-radius:20px;
    background-color: white;
    z-index: 1002;
    text-align:center;
    overflow: auto;
}

.tabs-title{
	font-size: 13px;
}

.tabs li a.tabs-inner {
	border-radius: 5px 5px 0 0;
}

.ddsmoothmenu ul li a{
	border-right: 0px solid #778;
}

.ddsmoothmenu ul li a:hover{
	border-radius: 25px;
}

.ddsmoothmenu ul li.selectedMenu{
	/*border-radius: 5px;*/
	border-radius: 25px;
	display: block;
	/* background: linear-gradient(to bottom, #47C9AF 0px, #FFF 100%) repeat-x scroll 0% 0% transparent; *//*none repeat scroll 0% 0% #47C9AF*/
	background: linear-gradient(to bottom, #2E9AFE 0px, #FFF 100%) repeat-x scroll 0% 0% transparent;
	border: 0px solid #133E40;
	/*box-shadow: 1px 1px 1px 1px #FCD46E inset;/*#47C9AF #FCD46E*/
	/*background:#FCD46E;*/
}

.tabs li.tabs-selected a.tabs-inner {
  background-color: #ffffff;
  color: #0E2D5F;
  background: -webkit-linear-gradient(top,#F2BC34 0,#ffffff 100%);/*#EFF5FF*/
  background: -moz-linear-gradient(top,#F2BC34 0,#ffffff 100%);
  background: -o-linear-gradient(top,#F2BC34 0,#ffffff 100%);
  background: linear-gradient(to bottom,#F2BC34 0,#ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F2BC34,endColorstr=#ffffff,GradientType=0);
}

/* .ddsmoothmenu ul li a:hover{
  background:#FCD46E; 
  font-weight: bold;
  color: black;
}  */

.tabs-header, .tabs-scroller-left, .tabs-scroller-right, .tabs-tool, .tabs, .tabs-panels, .tabs li a.tabs-inner, .tabs li.tabs-selected a.tabs-inner, .tabs-header-bottom .tabs li.tabs-selected a.tabs-inner, .tabs-header-left .tabs li.tabs-selected a.tabs-inner, .tabs-header-right .tabs li.tabs-selected a.tabs-inner {
  
  background: -webkit-linear-gradient(top,#4C8EFE7 0,#ffffff 100%);
  background: -moz-linear-gradient(top,#4C8EFE7 0,#ffffff 100%);
  background: -o-linear-gradient(top,#4C8EFE7 0,#ffffff 100%);
  background: linear-gradient(to bottom,#4C8EFE7 0,#ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C8EFE7,endColorstr=#ffffff,GradientType=0);
  
} 

.tabs-header, .tabs-scroller-left, .tabs-scroller-right, .tabs-tool, .tabs, .tabs-panels, .tabs li a.tabs-inner, .tabs li.tabs-selected a.tabs-inner, .tabs-header-bottom .tabs li.tabs-selected a.tabs-inner, .tabs-header-left .tabs li.tabs-selected a.tabs-inner, .tabs-header-right .tabs li.tabs-selected a.tabs-inner {
    border-color: #47C9AF;
}

.tabs-panels{
	border-bottom-color: #FFFFFF;	
}

.tabs li a.tabs-inner {
    border-radius: 22px 10px 0px 0px;
}

.tabs-panels .panel .panel-body{
	height: 75vh;	
}