/* to show header. It contains font type, font color, font size and background color */
TR.HEADER {
	/*background-image: url('../../hisglobal/images/LightStrip.png');
	background-Color:#FFB365; */
	
	background: #1277b5; /* Old browsers */
	background: -moz-linear-gradient(top,  #135d8c 0%, #1277b5 0%, #1277b5 32%, #135d8c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#135d8c), color-stop(0%,#1277b5), color-stop(32%,#1277b5), color-stop(100%,#135d8c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1277b5', endColorstr='#135d8c',GradientType=0 ); /* IE6-9 */
	background-color:#126EA7;
	
	height:23px;
	color: white;
	text-transform: capitalize;
	font-family: Trebuchet MS;
	font-size: 13px;
	font-style: normal;
	line-height: 14pt;
	font-weight: bold;
	font-variant: normal;
}

/* to show footer. It contains font type, font color, font size and background color */
TR.FOOTER {
	/* background-image: url('../../hisglobal/images/LightStrip.png');
	background-Color:#FFB365; */
	
	background: #1277b5; /* Old browsers */
	background: -moz-linear-gradient(top,  #135d8c 0%, #1277b5 0%, #1277b5 32%, #135d8c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#135d8c), color-stop(0%,#1277b5), color-stop(32%,#1277b5), color-stop(100%,#135d8c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #135d8c 0%,#1277b5 0%,#1277b5 32%,#135d8c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1277b5', endColorstr='#135d8c',GradientType=0 ); /* IE6-9 */
	background-color:#126EA7;
	
	height:23px;
	color: white;
	text-transform: capitalize;
	text-align:right;
	font-family: Trebuchet MS;
	font-size: 13px;
	font-style: normal;
	line-height: 14pt;
	font-weight: bold;
	font-variant: normal;
}

/* for label field of table's TD. It contains font type, font color, font size and background color */
TD.LABEL {
	/*background-color:#E0EBEB;*/
	background-Color:#f1f6f6;
	height:16;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	/*color:#333333;*/
	color:#013157;
	text-align:right;
	font-weight: bold;
	background-image: url('none');
}

/* for control field of table's TD. It contains font type, font color, font size and background color */
TD.CONTROL {
	background-Color:#F1F6F6;
	height:16;
	/*color:#333333;*/
	color:#013157;
	text-align:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
}

/* to show font type to be used. It contains font type, font color, font size */
.FONT {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #653232;
}

/* fot textfield of small size. It contains font type, font color, font size, width of the field */
.txtFldDate {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	height: 18px;
	width: 85px;
	/*border: 1px solid #BCB8B8;*/
	background-color: #F8F6F3;
	/*border: 1px inset #F8F6F3; 
    outline:0;*/ 
	/*border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #666;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	box-shadow: 0px 2px 3px #666;*/
}
/* fot textfield of minimum size. It contains font type, font color, font size, width of the field */
.txtFldMin {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	height: 18px;
	width: 50px;
	/*border: 1px solid #BCB8B8;*/
	background-color: #F8F6F3;
	/*border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #666;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	box-shadow: 0px 2px 3px #666;*/

}


/* fot textfield of normal size. It contains font type, font color, font size, width of the field */
.txtFldNormal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	height: 18px;
	width: 75px;
	/*border: 1px solid #BCB8B8;*/
	background-color: #F8F6F3;
	/*border: 1px inset #F8F6F3; 
    outline:0;*/ 
	/*border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #666;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	box-shadow: 0px 2px 3px #666;*/
	
}

/* fot textfield of maximum size. It contains font type, font color, font size, width of the field */
.txtFldMax {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	height: 18px;
	width: 135px;
	/*border: 1px solid #BCB8B8;*/
	background-color: #F8F6F3;
	/*border: 1px inset #F8F6F3; 
    outline:0;*/ 
	/*border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #666;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	box-shadow: 0px 2px 3px #666;*/
}

/* fot textfield of maximum size. It contains font type, font color, font size, width of the field */
.txtFldBig {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	height: 18px;
	width: 250px;
	/*border: 1px solid #BCB8B8;*/
	background-color: #F8F6F3;
	/*border: 1px inset #F8F6F3; 
    outline:0;*/ 
	/*border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #666;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	box-shadow: 0px 2px 3px #666;*/
}


/* fot textfield of small size. It contains font type, font color, font size, width of the field */
.txtFldSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	height: 18px;
	width: 35px;
	/*border: 1px solid #BCB8B8;*/
	background-color: #F8F6F3;
	/*border: 1px inset #F8F6F3; 
    outline:0;*/ 
	/*border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #666;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	box-shadow: 0px 2px 3px #666;*/
}

/* fot textfield of small size and have red font. It contains font type, font color, font size, width of the field */
.txtFldSmall_Red {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #990000;
	height: 14px;
	width: 35px;	
}

/* fot combo of small size. It contains font type, font color, font size, width of the field */
.comboSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	height: 20px;
	width: 50px;
}

/* fot combo of minimum size. It contains font type, font color, font size, width of the field */
.comboMin {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	height: 20px;
	width: 90px;
}
/* fot combo of normal size. It contains font type, font color, font size, width of the field */
.comboNormal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	height: 20px;
	width: 125px;
	/*border: 1px solid #BCB8B8;*/
	/*border: 1px inset #848484;*/	
	-moz-appearance: menulist;
    box-sizing: border-box;
    -moz-user-select: none;
    border-color: #F0F0F0;
    border-style: inset;
    border-width: 2px;
    color: #000;
    cursor: pointer;
    /*background: none repeat scroll 0% 0% #FFC;*/
}

/* fot combo of maximum size. It contains font type, font color, font size, width of the field */
.comboMax {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	height: 20px;
	width: 175px;
	/*border: 1px solid #BCB8B8;*/
	/*border: 1px inset #848484;*/	
	-moz-appearance: menulist;
    box-sizing: border-box;
    -moz-user-select: none;
    border-color: #F0F0F0;
    border-style: inset;
    border-width: 2px;
    color: #000;
    cursor: pointer;
    /*background: none repeat scroll 0% 0% #FFC;*/
}


/* fot combo of Big size. It contains font type, font color, font size, width of the field */
.comboBig {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	height: 20px;
	width: 350px;
	/*border: 1px solid #BCB8B8;*/
	/*border: 1px inset #848484;*/	
	-moz-appearance: menulist;
    box-sizing: border-box;
    -moz-user-select: none;
    border-color: #F0F0F0;
    border-style: inset;
    border-width: 2px;
    color: #000;
    cursor: pointer;
    /*background: none repeat scroll 0% 0% #FFC;*/
}

/* table width is defined for add and modify pages. */
.TABLEWIDTH {	
	width: 95%;	
}

/* for the title field. It contains font type, font color, font size and background color */
.TITLE {
	background-Color:#126599;
	font-family: Trebuchet MS;
	font-style: normal;
	font-size: 12px;
	font-weight: bold;
	color: white;
	height: 16px;
	text-align:left;
}

/* to center align label field. It contains font type, font color, font size and background color */
.multiLabel {
	/*background-color:#E0EBEB;*/
	background-Color:#f1f6f6;	
	height: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	/*color: #653232;*/
	/*color: #333333;*/
	color:#013157;
	text-align:center;
}

/* to center align control field. It contains font type, font color, font size and background color */
.multiControl {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: #F1F6F6;
	height: 16px;
	text-align:center;
}
/* to center align control field. It contains font type, font color, font size and background color */
.multiControlLeft {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	/*color: #000000;*/
	color:#013157;
	/*background-color: #F1ECE2;*/
	background-Color:#f1f6f6;
	height: 16px;
	text-align:left;
}
	
/* to show error messages. */
.errMsg {
	font-family: Trebuchet MS;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: red;	
	text-align:center;
}

/* to show normal messages. */
.normalMsg {
	font-family: Trebuchet MS;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #653232;	
	text-align:center;
}

/* to show error messages. */
.warningMsg {
	font-family: Trebuchet MS;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #FF9900;	
	text-align:center;
}

.NEWTABLEWIDTH {	
	width: 95%;	
	border-collapse: collapse;
}
/* for label field of table's TD. It contains font type, font color, font size and background color */
LABEL.DIVLABEL {
	/*background-color:#FFEBD5;*/
	/*background-color:#e0ebeb; */
	background-Color:#f1f6f6;
	height:16;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	/*color:#333333;*/
	color:#013157;
	text-align:left;
	font-weight: bold;
	background-image: url('none');
}

.line:after {
    background: linear-gradient(to bottom, #1271AA, #0E517D) no-repeat scroll center center / 100% 0.15em transparent;
    content: "";
    display: table-cell;
    width: 98%;
}
.line:before {
    background: linear-gradient(to bottom, #1271AA, #0E517D) no-repeat scroll center center / 98% 0.15em transparent;
    content: "";
    display: table-cell;
    width: 2%;
}
.line {
    display: table;
    white-space: nowrap;
    width: 100%;
    margin-left: 0%;
    font-size: 20px;
    color: #0E507C;
}

.lineContinue {
    display: table;
    white-space: nowrap;
    width: 100%;
    margin-left: 0%;
    font-size: 20px;
    color: #0E507C;
     background: linear-gradient(to bottom, #1271AA, #0E517D) no-repeat scroll center center / 100% 0.15em transparent;
    content: "";
        
}
.lineContinue2 {
    display: table;
    white-space: nowrap;
    width: 100%;
    margin-left: 0%;
    font-size: 20px;
    color: #0E507C;
    text-align:right;
     background: linear-gradient(to bottom, #1271AA, #0E517D) no-repeat scroll center center / 100% 0.15em transparent;
    content: "";
        
}

.style_x {
	background-Color:#f1f6f6;	
	height: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	/*color: #653232;*/
	/*color: #333333;*/
	color:#013157;
	text-align:center;
}
.style_x:nth-child(odd){
	background-color: #F1F6F6;
	}
.style_x:nth-child(even){
	background-color: #E0EBEB;
	}