<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>HISInvestigationG5</display-name>
 
<filter>
    <filter-name>Struts2Filter</filter-name>
    <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>struts-default.xml</param-value>
    </init-param>
  </filter>
  
  <filter-mapping>
    <filter-name>Struts2Filter</filter-name>
    <url-pattern>*.action</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>Struts2Filter</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config-masterWorkshop.xml,/WEB-INF/struts-config-new_investigation-master.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/registration</param-name>
      <param-value>/WEB-INF/struts-config-RegistrationDesk.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/new_investigation</param-name>
      <param-value>/WEB-INF/struts-config-new_investigation-transaction.xml,/WEB-INF/struts-config-new_investigation-master.xml,/WEB-INF/struts-config-new_investigation-reports.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>masterWorkshop.MasterRouter</servlet-name>
    <servlet-class>hisglobal.masterxml.masterworkshop.MasterRouter</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config-RegistrationDesk.xml,/WEB-INF/struts-config-masterWorkshop.xml</param-value>
    </init-param>
  </servlet>
  
  <servlet>
    <description>Displaying a given File with Directory</description>
    <display-name>DisplayFile</display-name>
    <servlet-name>DisplayFileServlet</servlet-name>
    <servlet-class>hisglobal.utility.servlets.DisplayFileServlet</servlet-class>
  </servlet>
  
  <servlet>
    <description>Displaying a given Byte Array</description>
    <display-name>DisplayByteArray</display-name>
    <servlet-name>DisplayByteArrayServlet</servlet-name>
    <servlet-class>hisglobal.utility.servlets.DisplayByteArrayServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ReadPdfServlet</servlet-name>
    <servlet-class>hisglobal.utility.print.ReadPdfServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ReadPdfServlet</servlet-name>
    <url-pattern>/hisglobal/utility/print/readPdfServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ReadPdfServlet</servlet-name>
    <url-pattern>/hisglobal/utility/burnDisc/readPdfServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>InstallSoftwareServlet</servlet-name>
    <servlet-class>hisglobal.utility.installSoftware.InstallSoftwareServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>InstallSoftwareServlet</servlet-name>
    <url-pattern>/installSoftware/installSoftwareServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ImageRenderer</servlet-name>
    <servlet-class>hisglobal.tools.imageupload.ImageRendererServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageRenderer</servlet-name>
    <url-pattern>/ImageRenderer</url-pattern>
  </servlet-mapping>
  
<!--   <servlet>
    <description>
	</description>
    <display-name>CreateNewPrintingTemplate</display-name>
    <servlet-name>CreateNewPrintingTemplate</servlet-name>
  </servlet> -->
  
  <servlet>
    <servlet-name>HTMLToPDFServlet</servlet-name>
    <servlet-class>hisglobal.utility.servlets.HTMLToPDFServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>HTMLToPDFServlet</servlet-name>
    <url-pattern>/hisglobal/ConvertHTMLToPDF</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>masterWorkshop.MasterRouter</servlet-name>
    <url-pattern>*.mst</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.cnt</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DisplayFileServlet</servlet-name>
    <url-pattern>/DisplayFileServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DisplayByteArrayServlet</servlet-name>
    <url-pattern>/DisplayByteArrayServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>investigationreportingservice</servlet-name>
    <servlet-class>webServiceReport.Report.InvFetchReport</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>investigationreportingservice</servlet-name>
    <url-pattern>/investigationreportingservice</url-pattern>
  </servlet-mapping>
 
 <servlet>
  <servlet-name>investigationreportingservicenew</servlet-name>
    <servlet-class>Investigation_webservice.service.InvReportService</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>investigationreportingservicenew</servlet-name>
    <url-pattern>/investigationreportingservicenew</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>investigationCRNoservicenew</servlet-name>
    <servlet-class>Investigation_webservice.service.InvCrNoService</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>investigationCRNoservicenew</servlet-name>
    <url-pattern>/investigationCRNoservicenew</url-pattern>
  </servlet-mapping>
  <servlet>
		<description>
		</description>
		<display-name>
		ShowImageOutofAnArray</display-name>
		<servlet-name>ShowImageOutofAnArray</servlet-name>
		<servlet-class>
		new_investigation.transactions.controller.action.ShowImageOutofAnArray</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ShowImageOutofAnArray</servlet-name>
		<url-pattern>/ShowImageOutofAnArray</url-pattern>
	</servlet-mapping>
  

  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
  <context-param>
    <param-name>Client</param-name>
    <param-value>1</param-value>
  </context-param>
  <context-param>
    <param-name>resteasy.scan</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>resteasy.servlet.mapping.prefix</param-name>
    <param-value>/services/restful</param-value>
  </context-param>
  <listener>
    <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
  </listener>
  <listener>
    <listener-class>hissso.client.listener.HISSSOClientContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>hissso.client.listener.HISSSOClientSessionListener</listener-class>
  </listener>
  <filter>
    <filter-name>HISSSOClientRequestFilter</filter-name>
    <filter-class>hissso.client.filter.HISSSOClientRequestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HISSSOClientRequestFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/services/restful/*</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>
			Resource reference to a factory for java.sql.Connection
			instances that may be used for talking to a particular
			database that is configured in the server.xml file.
		</description>
    <res-ref-name>AHIS</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>