/* ============================================================
  TILE NAVIGATION
============================================================ */


label {
	padding: 0px !important;
}

.right {
	float: right !important;
	margin-right: 50px !important;
	margin-top: 40px !important;
}

.tile_line {
	margin-left: 10px !important;
	margin-right: 10px !important;
	border-top: 3px solid white !important;
	text-shadow: 1px black !important;
	font-family: serif !important;
	font-style: bold !important;
}

.icon-3x {
	font-size: 3em !important;
}

nav.tiledash.open {
	display: block !important;
}

nav.tiledash ul {
	display: table-row !important;
	list-style: none !important;
}

nav.tiledash li {
	width: 250px !important;
	height: 130px !important;
	border-radius: 15px 0px 15px 0px !important;
	display: block !important;
	float: left !important;
	color: white !important;
	margin: 15px !important;
}
nav.tiledash li a {
	border-radius: 15px 0px 15px 0px !important;}

nav.tiledash a {
	color: white !important;
	border: none !important;
	
	}

nav.tiledash a:hover {
	color: white !important;
	text-decoration: none !important;
	}
/* nav.tiledash a:hover {
	-webkit-transform: rotate(180deg) !important;
	-moz-transform: rotate(180deg) !important; !important;
	-ms-transform: rotate(180deg) !important; !important;
	-o-transform: rotate(180deg) !important; !important;
	transform: rotate(180deg) !important; !important;
} */

/* nav.tiledash li a
{
	cursor: pointer !important;
} */
nav.tiledash li.colour-1,nav.tiledash li.colour-1 a {
	background-color: #28aadc !important;
}

nav.tiledash li.colour-1:HOVER,nav.tiledash li.colour-1 a:HOVER {
	background-color: #1F93BE !important;
}

nav.tiledash li.colour-2 ,nav.tiledash li.colour-2 a{
	/* margin-left: 10px !important; */
	background-color: #F35493 !important;
}

nav.tiledash li.colour-2:HOVER,nav.tiledash li.colour-2 a:HOVER  {
	background-color: #F13A84 !important;
}

nav.tiledash li.colour-3,nav.tiledash li.colour-3 a {
	/* margin-left: 10px !important; */
	background-color: #B07CC6 !important;
}
nav.tiledash li.colour-3:HOVER,nav.tiledash li.colour-3 a:HOVER {
	background-color: #9D5EB9 !important;
}

nav.tiledash li.colour-4, nav.tiledash li.colour-4 a {
	/* margin-left: 10px !important; */
	background-color: #009B00 !important;
	
}
nav.tiledash li.colour-4:HOVER, nav.tiledash li.colour-4:HOVER a {
	background-color: #008000 !important;
	
	
}

.rotate {
	position: relative !important;
	text-decoration: none !important;
	-webkit-transition: .5s all ease-in-out !important;
	-moz-transition: .5s all ease-in-out !important;
	-o-transition: .5s all ease-in-out !important;
	transition: .5s all ease-in-out !important;
}

.rotate:hover {
	opacity: 0.4 !important;
	-webkit-transform: rotate(355deg) scale(2) !important;
	-moz-transform: rotate(355deg) scale(2) !important;
	-o-transform: rotate(355deg) scale(2) !important;
	transform: rotate(355deg) scale(2) !important;
	-webkit-box-shadow: 2px 2px 5px #000 !important;
}